<div class="card">
  <div class="card-header">Salesforce Account Details <%= @salesforce_account['Id'] %></div>
  <div class="card-body">
    <ul>
      <li>Name: <%= @salesforce_account['Name'] %></li>
      <li>Type: <%= @salesforce_account['Type'] %></li>
      <li>BillingStreet: <%= @salesforce_account['BillingStreet'] %></li>
      <li>BillingCity: <%= @salesforce_account['BillingCity'] %></li>
      <li>BillingState: <%= @salesforce_account['BillingState'] %></li>
      <li>BillingPostalCode: <%= @salesforce_account['BillingPostalCode'] %></li>
      <li>BillingCountry: <%= @salesforce_account['BillingCountry'] %></li>
    </ul>
  </div>
</div>
